# Snowflake connection
SNOWFLAKE_ACCOUNT=your_account.region
SNOWFLAKE_USER=DATA_BIRDS_USER
SNOWFLAKE_PRIVATE_KEY_PATH=rsa_key.p8
SNOWFLAKE_WAREHOUSE=DATA_BIRDS_WH
SNOWFLAKE_DATABASE=DATA_BIRDS_DB
SNOWFLAKE_SCHEMA=AVIARY
SNOWFLAKE_ROLE=DATA_BIRDS_ROLE
